
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amiri', serif; 
    background-color: #ffffff; /* Light background color */
    color: #080303; /* Dark text color for better readability */

}

/* Centered heading styling */
.heading {
    margin: 20px 0;
    font-family: 'Brush Script MT'; /* Heading font */
    color: #44c60c; /* Primary color for headings */
}

/* Container styling */
.container {
    margin-top: 30px;
    padding: 20px;
    background-color: #0ea479; /* White background for the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Main section styling */
.main {
    padding: 20px;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px; /* Space between form elements */
}

/* Input field styling */
.form-control {
    border-radius: 5px; /* Rounded corners for input fields */
    border: 1px solid #ccc; /* Light gray border */
    padding: 10px; /* Padding inside input fields */
    font-size: 16px; /* Larger font size for readability */
    height: auto; /* Adjust height based on content */
    box-sizing: border-box; /* Include padding and border in the width */
}

/* Input group styling */
.input-group {
    margin-bottom: 15px; /* Space between input groups */
}

/* Select dropdown styling */
.form-control {
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's width */
}

/* Prevent text wrapping inside select options */
.form-control option {
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Button styling */
.btn {
    border-radius: 10px; /* Rounded corners for buttons */
    padding: 10px 20px; /* Padding inside buttons */
    font-size: 16px; /* Font size for buttons */
}

/* Primary button styling */
.btn-primary {
    background-color: #6a00ffcd; /* Primary button color */
    border-color: #f0f3f7; /* Border color */
    color: #ffffff; /* Text color */
}

/* Reset button styling */
.btn-primary.reset {
    background-color: #7c7377; /* Secondary button color for reset */
    border-color: #73696e; /* Border color */
}

/* Text center alignment for buttons */
.text-center {
    text-align: center;
}

/* Styling for final converted amount display */
#finalAmount {
    margin-top: 20px;
}

.finalValue {
    color: red;
    font-weight: bolder; /* Make text bold */
}
